(
    core: (
        platform: Paper,
        version: (
            game_version: Some("1.20.1"),
            version_build: Some("17"),
            channel: Release,
        ),
        options: (
            freeze: false,
            force_update: false,
        ),
    ),
    extensions: [
        /*[0]*/ (
            name: "worldedit",
            platform: Some(Paper),
            provider: Plugin(Modrinth),
            version: (
                game_version: Some("1.20.1"),
                version_build: None,
                channel: Release,
            ),
            options: (
                freeze: false,
                force_update: false,
            ),
        ),
        /*[1]*/ (
            name: "vault",
            platform: Some(Paper),
            provider: Plugin(Modrinth),
            version: (
                game_version: Some("1.20.1"),
                version_build: None,
                channel: Release,
            ),
            options: (
                freeze: false,
                force_update: false,
            ),
        ),
    ],
    options: (
        port: 25565,
        min_memory: 2048,
        max_memory: 4096,
        java_args: [
            /*[0]*/ "-XX:+UseG1GC",
            /*[1]*/ "-XX:+ParallelRefProcEnabled",
            /*[2]*/ "-XX:MaxGCPauseMillis=200",
        ],
        properties: (
            motd: Some("A Minecraft Server powered by Prisma"),
            max_players: Some(20),
            online_mode: Some(true),
            difficulty: Some(normal),
            gamemode: Some(survival),
            view_distance: Some(10),
            allow_nether: Some(true),
            enable_command_block: Some(false),
        ),
    ),
)